.button {
  @include flex-center(true);

  column-gap: 4px;
  padding: fluidToLaptop(18, 14) fluidToLaptop(24, 20);
  background-color: var(--color-red-45);
  color: var(--color-white);
  text-align: center;
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius-s);
  user-select: none;
  cursor: pointer;

  @include laptop {
    border-radius: var(--border-radius-xs);
  }

  @include hover {
    background-color: var(--color-red-60);
    color: var(--color-white);
  }

  &:active {
    scale: 1.05;
  }

  &:disabled {
    color: var(--color-grey-60);
    background-color: var(--color-black-06);
    pointer-events: none;
  }

  &:has(.button__icon:only-child) {
    @include square(fluidToLaptop(56, 44));

    padding: 0;
  }

  &--transparent {
    background-color: transparent;

    &:has(.button__icon:only-child) {
      @include square(44px);

      .button__icon {
        --iconSize: #{fluidToLaptop(34, 24)};
      }
    }
  }

  &--black-08,
  &--black-10,
  &--black-06 {
    border: var(--border);
  }

  &--black-06 {
    background-color: var(--color-black-06);
  }

  &--black-08 {
    background-color: var(--color-black-08);
  }

  &--black-10 {
    background-color: var(--color-black-10);
  }
}